<app-navbar></app-navbar>
<main class="switcher wrapper">
    <div class="main">
        <div class="decorative-image">

        </div>

        <div class="words">
            <article>
                <h1 class="services-header">Professional services</h1>
                <p>
                    Give your internal teams a trusted advisor who will oversee every aspect of your digital transformation. Our experts will guide you on all project phases from assessment, design, program management, preparation, installation, and post-install support, to end-user training.
                </p>
                <p class="pt-2 pb-9">
                    Ensure your digital workplace is providing the best collaboration experience
                </p>
                
                <a class="services-button" routerLink="/contact-us">
                    contact us
                </a>
            </article>
        </div>
    </div>
</main>
<h2 class="h2-offers text-center pb-9">
    Design and implementation services
</h2>
<div class="wrapper-professional-card pb-6">
    <section class="professional-card">
        <div class="professional-card-picture"></div>
        <div class="professional-card-words">
            <h3 class="pb-4">Design and planning</h3>
            <p class="pb-4">Collaboration technology consulting, design, and implementation planning</p>
            <a class="demo-button" routerLink="/contact-us">
                Workplace learning
            </a>
        </div>
    </section>
    <section class="professional-card">
        <div class="professional-card-picture"></div>
        <div class="professional-card-words">
            <h3 class="pb-4">Installation and integration</h3>
            <p class="pb-4">Pre-implementation planning process through deployment</p>
            <a class="demo-button" routerLink="/contact-us">
                implementation support
            </a>
        </div>
    </section>
</div>
<h2 class="h2-offers text-center pb-9">   
Production services
</h2>
<div class="wrapper-professional-card pb-6">
    <section class="professional-card">
        <div class="professional-card-picture"></div>
        <div class="professional-card-words">
            <h3 class="pb-4">Enterprise video</h3>
            <p class="pb-4">
                Video production, company event production
                and broadcast/streaming
                </p>
            <a class="demo-button" routerLink="/contact-us">
                Video services
            </a>
        </div>
    </section>
    <section class="professional-card">
        <div class="professional-card-picture"></div>
        <div class="professional-card-words">
            <h3 class="pb-4">Virtual event services</h3>
            <p class="pb-4">Virtual event management for Cisco Webex, Microsoft teams and zoom</p>
            <a class="demo-button" routerLink="/contact-us">
                Virtual events
            </a>
        </div>
    </section>
</div>
<h2 class="h2-offers text-center pb-9">   
    We work with leading collaboration partners
    </h2>
<div class="partner-images pb-9">
    <div class="container-p-img">
        <div class="center pt-7 pb-7">
            <img src="./assets/partners/cisco.png" alt=center pt-7 pb-7 srcset="" class="w-100 partner-icon">
        </div>
        <div class="center pt-7 pb-7">
            <img src="./assets/partners/CRESTRON.png" alt="" srcset="" class="w-100 partner-icon">
        </div>
        <div class="center pt-7 pb-7">
            <img src="./assets/partners/Extron.png" alt="" srcset="" class="w-100 partner-icon">
        </div>
        <div class="center pt-7 pb-7">
            <img src="./assets/partners/Google.png" alt="" srcset="" class="w-100 partner-icon">
        </div>
        <div class="center pt-7 pb-7">
            <img src="./assets/partners/logitech.png" alt="" srcset="" class="w-100 partner-icon">
        </div>
        <div class="center pt-7 pb-7">
            <img src="./assets/partners/Microsof.png" alt="" srcset="" class="w-100 partner-icon">
        </div>
        <div class="center pt-7 pb-7">
            <img src="./assets/partners/neat.png" alt="" srcset="" class="w-100 partner-icon">
        </div>
        <div class="center pt-7 pb-7">
            <img src="./assets/partners/Zoom.png" alt="" srcset="" class="w-100 partner-icon">
        </div>
        <div class="center pt-7 pb-7">
            <img src="./assets/partners/Poly.png" alt="" srcset="" class="w-100 partner-icon">
        </div>
        <div class="center pt-7 pb-7">
            <img src="./assets/partners/QSYS.png" alt="" srcset="" class="w-100 partner-icon">
        </div>
    </div>
</div>

<app-contactform></app-contactform>

<app-footer></app-footer>
    