@import 'src/themes.scss';
.hero{
    position: relative;
    height: 100vh;
    height: 100%;
    padding-bottom: 3rem;
}
.header-p{
    color: $the-blue !important;
}
.container-words{
    padding-inline: 2em;
    z-index: 2;
}

.wordsdigital-container{
    padding-inline: 1em;
}
.wordsdigital{
    display: grid;
}
.partner-icon{
    max-width: 160px;
}
.container-p-img{
    max-width: min(80%, 800px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.partner-images{
    display: flex;
}
.card1{
    max-width:450px ;
    margin: 0 auto;
   padding: 1em;
}
.card1-1{
    border-top: 2px solid $yellowish;
}
.image{
    background-size: cover;
    aspect-ratio: 10/6;
    background-repeat: no-repeat;
    padding-top: 3em;
    width:100%;
}
.icons-1{
    font-size: 4em;
}
.padding-block{
    padding-inline: .8rem;
}
h5{
    font-weight: 500;
}
.cards-solutions{
    padding: 1em;
}
.solutions{
    color: #222121;;
    display: grid;
    h5{
        font-size: 1.4rem;
    }
    a , .flex1a{
        color: #166ef1;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
    }

}
.form{
    // background-color: white;
    gap: 1em;
    display: flex;
border-radius: 20px;
}
input{
    padding: .8em;
    color: black;
    border-radius: 20px;
}
.a-1{
    background-color: $yellowish;
    padding: .9em;
    border-radius: 20px;
}
.sub{
    background-color: $the-blue;
    color: white;
    padding-block: 1em;
}
.solutions1{
    color: #222121;;
    display: grid;
    margin: 0 auto;
    h5{
        font-size: 1.4rem;
    }
    a , .flex1a{
        color: #166ef1;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
    }

}
#complete{
    background-color: $the-blue;
    color: #fff ;
}
.flex1{
    margin: 0 auto;
    display: grid;
    // margin-inline: 2rem;
    .flex1a{
        color: #166ef1;
        font-size: 1.2rem;
        font-weight: 500;
    }

    width: min(90%);
    .images{
        padding: 3rem;
       background-size: cover;
        background-repeat: no-repeat;
    }
    .law-center{
        display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
    }
    .images-back1{
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoIWqCYaAgQOZ6tWQCWDTUAt-OxCX0qaG8HylbHAPJ4pHw5nk64tAIbB89V-whcYuy-vY&usqp=CAU');
        aspect-ratio: 10/5;
    }
    .images-back11{
        background-image: url('https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHBsYW5uaW5nfGVufDB8fDB8fHww');
        aspect-ratio: 10/5;
    }
    .images-back2{
        background-image: url('https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YW5hbHl0aWNzfGVufDB8fDB8fHww');
        aspect-ratio: 10/5;
    }
    .images-back3{
        background-image: url('/assets/screens.png');
        aspect-ratio: 10/5;
    }
}
@media (min-width:35em) and (max-width:59em) {
    .solutions{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
  margin: 0 auto;
    }
    .solutions1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
  margin: 0 auto;
    }
    .flex1{
        grid-template-columns: repeat(2, 1fr);
    }
   
    .picture-section{
        display: flex;
        justify-content: center;
    }
    .picturesdigital{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1em;
    }
    .wordsdigital{
        grid-template-columns: repeat(2,1fr);
    }
    .explanation-after{
        max-width: min(80%, 800px);
        margin: 0 auto;
    }
}

@media (min-width:60em) {
    .hero-image{
    -webkit-mask-image: linear-gradient(to left, black, black 10%, transparent);
    mask-image: linear-gradient(to left, black, black 10%, transparent);     
    }  
    .container-words{
        width: 50%;
    }
    .hero-p2{
        padding-bottom: 2em;
    }
    .h2-offers{
        padding-top: 1em;
    }
    .offers-p{
        width: 50%;
        max-width: 800px;
    }
    .solutions{
        padding-top: 2rem;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
  margin: 0 auto;
    }
    .solutions1{
        padding-top: 2rem;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
  margin: 0 auto;
    }
    .flex1{
        grid-template-columns: repeat(2, 1fr);
        padding-block: 3em;
    }
    .images, .wordsm{
        margin: 3rem;
    }
    .flex1-words-p{
        padding-inline-start:6em ;
    }
    .picturesdigital{
        padding-top: 2em;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1.5em;
    }
    .wordsdigital-container{
        max-width: min(90%, 1100px);
        margin: 0 auto;
    }
    .wordsdigital{
        grid-template-columns: repeat(2,1fr);
        padding-top: 2em;
        max-width: min(90%, 1100px);
        margin: 0 auto;
    }
    .explanation-after{
        max-width: min(90%, 800px);
        margin:0 auto;
    }
}