<header class="primary-header flex">
    <div class="logo1 pl-12">
        <a routerLink="">
            <img class="logo" src="assets/logo-white.png" style="height: 30px;"  alt="logo" srcset="">
        </a>
    </div>
    <button aria-controls="primary-navigation" aria-expanded="false" class="mobile-nav-toggle"><span class="sr-only">Menu</span></button>
    <!-- or instead of using the span class to add the menu text you can use aria-label -->
    <nav class="space-around">
        <ul id="primary-navigation" class="primary-navigation flex" data-attribute="false">
            <li >
                <a routerLink="" class="active">
                    <span aria-hidden="true"></span>Home
                </a>
            </li>
           
            <li class="dropdown">
                <a class="dropbtn chevron" (click)="toggleDropdown($event)">
                        <span aria-hidden="true"></span>Solutions <ng-icon name="heroChevronDown"></ng-icon>
                </a>
                <div class="dropdown-content">
                    <div class="drop-container">
                        <div class="dropdown-content-a">
                            <a routerLink="/education">Education</a>
                            <a routerLink="/about-us/vision">Video walls</a>
                            <a routerLink="/about-us/team">Unified communications</a>
                            <a routerLink="/about-us/mission">Meeting solutions</a>
                            <a routerLink="/about-us/vision">Digital signage</a>
                            <a routerLink="/about-us/team">Government projects</a>
                            <a routerLink="/about-us/mission">Law firm technology</a>
                            <a routerLink="/about-us/vision">Religious Organisations</a>
                        </div>
                        <div class="card-nav p-2">
                            <a class="dropbtn chevron" (click)="toggleDropdown($event)">
                                <div class="x-container"><ng-icon class="x" name="heroXCircle"></ng-icon></div>
                            </a>
                            <div class="card-nav-content p-2">
                                <div class="image-nav-card pb-2"></div>
                                <div class="words-nav-card">
                                    <h3 class="pb-2 pt-2">Partner information</h3>
                                    <p class="pb-2" >Whether you need help from a us or would like to become a partner, we offer options to fit your business</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </li> 
            <li class="dropdown">
                <a class="dropbtn chevron" (click)="toggleDropdown($event)">
                        <span aria-hidden="true"></span>Services <ng-icon name="heroChevronDown"></ng-icon>
                </a>
                <div class="dropdown-content">
                    <div class="drop-container">
                        <div class="dropdown-content-a">
                            <a routerLink="/about-us/mission">Support</a>
                    <a routerLink="/about-us/vision">Collaboration</a>
                    <a routerLink="/about-us/team">AV room design</a>
                    <a routerLink="/about-us/team">Professional</a>
                        </div>
                        <div class="card-nav p-2">
                            <a class="dropbtn chevron" (click)="toggleDropdown($event)">
                                <div class="x-container"><ng-icon class="x" name="heroXCircle"></ng-icon></div>
                            </a>
                            <div class="card-nav-content p-2">
                                <div class="image-nav-card pb-2"></div>
                                <div class="words-nav-card">
                                    <h3 class="pb-2 pt-2">Partner information</h3>
                                    <p class="pb-2" >Whether you need help from a us or would like to become a partner, we offer options to fit your business</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </li> 
            <li class="dropdown">
                <a class="dropbtn chevron" (click)="toggleDropdown($event)">
                        <span aria-hidden="true"></span>Resources <ng-icon name="heroChevronDown"></ng-icon>
                </a>
                <div class="dropdown-content">
                    <div class="drop-container">
                        <div class="dropdown-content-a">
                            <a routerLink="/about-us/mission">Case study</a>
                            <a routerLink="/about-us/vision">Gides</a>
                            <a routerLink="/about-us/team">Analytics and intelligence</a>
                            <a routerLink="/about-us/mission">Reference design</a>
                            <a routerLink="/about-us/vision">Events</a>
                        </div>
                        <div class="card-nav p-2">
                            <a class="dropbtn chevron" (click)="toggleDropdown($event)">
                                <div class="x-container"><ng-icon class="x" name="heroXCircle"></ng-icon></div>
                            </a>
                            <div class="card-nav-content p-2">
                                <div class="image-nav-card pb-2"></div>
                                <div class="words-nav-card">
                                    <h3 class="pb-2 pt-2">Partner information</h3>
                                    <p class="pb-2" >Whether you need help from a us or would like to become a partner, we offer options to fit your business</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </li>
            <li class="active">
                <a routerLink="/blog">
                    <span aria-hidden="true"></span>Blog
                </a>
            </li>
            <li class="active primarymodes pl-2">
                <a routerLink="/task">
                    <span aria-hidden="true" class="black"> Shop</span>
                </a>
            </li> 
            <li class="active primarymodes">
                <a routerLink="/rate">
                    <span aria-hidden="true" class="black">Contact us</span>
                </a>
            </li>
        </ul>
        <ul id="primary-navigation" class="primary-navigation flex section2 " data-attribute="false">
            <button class="demo-button1">See demo</button>
        </ul> 
    </nav>
</header>
