<app-navbar></app-navbar>
<main>
    <div class="container">
        <div>
            <h1>Coming soon</h1>
        </div>
        <p>
            Something good is happening! We will notify you when everything is ready via email so add it below!
        </p>
        <div class="pt-7">
            <form action="" class="form">
                <input type="email" name="email" id="" placeholder="Enter your email.">
                <a routerLink="">Notify</a>
            </form>
        </div>
    </div>
</main>