@import '/src/themes.scss';
$h1-big:clamp(1.8019rem, 1.0209rem + 3.9051vw, 4.6819rem);
$p-small:clamp(1.2656rem, 1.0692rem + 0.9822vw, 1.99rem);

main{
    height: 100dvh;
    background-color: $secondary;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .container{
        width: min(90%, 800px);
        padding-inline: 1em;
    }

    h1{
        font-size: $h1-big;
        font-weight: 700;
    }
    p{
        font-size: $p-small;
    }
    .form{
        gap: 1em;
        display: flex;
  border-radius: 20px;
    }
    input{
        padding: .8em;
        color: $secondary;
        border-radius: 20px;
    }
    a{
        background-color: $yellowish;
        padding: .9em;
        border-radius: 20px;
    }
}