<div class="body">
    <app-navbar></app-navbar>
    <header class="hero">
        <div class="container">
            <div class="container-words">
                <h1 class="hero-title pb-3">Reliable audio visual communication for Churches and related events.</h1>
                <p class="hero-p2 header-p pt-2">
                    Equip your church with modern AV and UCC technologies
                </p>
                <a routerLink="/church-solutions" class="demo-button">Explore</a>
            </div>
            <img src="https://images.unsplash.com/photo-1449182210692-60ced46ae304?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2h1cmNoJTIwYnVpbGRpbmdzfGVufDB8fDB8fHww" alt="" class="hero-image" srcset="">
        </div>
    </header>
    <div class="flex1">
        <div class="images images-back1">
        </div>
        <div class="flex1-words flex1-words-p">
            <h2 class="h2-offers">
                Let our certified experts plan, deploy, and operate your Public Adress system.
            </h2>
            <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0;">
                Proscene's audiovisual (AV) and unified communications and collaboration (UCC) technology services help your church equip spaces with quality technologies that support time-sensitive, high-value work. Our teams can help you:
            </p>
                <ul>
                    <li> > Equip your spaces with modern UCC technologies.</li>
                    <li> > Meet security and compliance requirements.</li>
                    <li> > Ensure your systems continues to run efficiently.</li>
                </ul>
            <div class=" pt-6 pb-6">
                <a routerLink="/contact-us" class="padding-block flex1a " style="padding-left: 0;">contact us
                    ></a>
            </div>

        </div>
    </div>
    <h2 class="h2-offers text-center">
        Benefits to your church
    </h2>
    <div class="wordsdigital">
        <div class="cardd">
            <ul>
                <li>> Improve reliability and user experience.</li>
                <li>> Meet client needs with compatible technologies.</li>
                <li>> Enhance your reputation with modern tools and capabilities.</li>
                <li>> Achieve regulatory compliance and secure client information.</li>
            </ul>
        </div>    
            <div class="cardd">
                <ul>
                    <li>> Augment your IT teams’ skill sets with specialized expertise and resources.</li>
                    <li>> Managed services keep tools running as expected.</li>
                    <li>> Standardize solutions to support growth and ease of use.</li>
                    <li>> Enable interoperability between cloud-based UC platforms.</li>
                    
                </ul>
            </div>
        </div>
        <h2 class="h2-offers text-center">
            Full-service offers
        </h2> 
        <div class="flex1">
            <div class="flex1-words flex1-words-p law-center">
                <h2 class="h2-offers">
                    Planning
                </h2>
                <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0;">
                    We meet as early as possible in the project process to ensure we understand your operations, clients, and culture. This allows us to recommend tools that best support your teams and create optimal user experiences.
                </p>

            </div>
            <div class="images images-back11">
            </div>
        </div>
        <div class="flex1 law-center">
            <div class="images images-back2">
            </div>
            <div class="flex1-words flex1-words-p law-center">
                <h2 class="h2-offers">
                    Deployment
                </h2>
                <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0;">
                    Our team installs and configures solutions in your collaboration spaces. We make sure tools support common cloud-based conferencing platforms and can even train users on the new technology.
                </p>
            </div>
        </div>
        
        <div class="flex1 law-center">
            <div class="flex1-words flex1-words-p law-center">
                <h2 class="h2-offers">
                    Operation
                </h2>
                <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0;">
                    Proscene maintains the tools that provide reliable communication for depositions, arbitration, court hearings, client meetings, and internal collaboration. With managed services, our teams provide ongoing support and optimization that ensure technology runs smoothly and as intended. We help prevent technology failures and inefficiencies that could damage relationships with clients, as well as your firm’s reputation.
                </p>

            </div>
            <div class="images images-back11 law-center">
            </div>
        </div>
        <div class="pb-9 center"><a routerLink="/contact-us" class="demo-button">Contact us </a></div>
        <div id="complete">
            <h2 class="h2-offers text-center" style="color: #fff;">
                Complete Proscene UCC solutions
            </h2> 
            <div class="flex1 law-center">
                <div class="images images-back2">
                    <img src="" alt="" srcset="">
                </div>
    
                <div class="flex1-words flex1-words-p law-center">
                    <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0; color: white !important;">
                        Supplying church with reliable technology to ensure meetings run smoothly and feature modern capabilities isn’t the only thing we do. Proscene designs integrated UCC ecosystems that are easy to use, provide superior user and client experiences, and are compatible with the cloud-based collaboration solutions you prefer to use.
                    </p>
                    <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0; color: white !important;">
                        Partnering with top-quality brands, we provide solutions for church that include:
                    </p>
                        <ul>
                            <li>> Smart cameras, smart microphones, and loudspeakers.</li>
                            <li>> High-resolution displays and projectors.</li>
                            <li>> Enhance your reputation with modern tools and capabilities.</li>
                        </ul>
                    
                </div>
            </div>
        </div>
        <h2 class="h2-offers text-center">
            Managed services for churches
        </h2>
        
        <div class="wordsdigital-container">
            <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0;">
                Proscene Enterprise Managed Services teams provide expert care for your Church’s visual communication environment. Our certified technicians use best-in-class industry applications to monitor, manage, and analyze your technologies’ performance.
            </p>
            <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0;">
                Our end-to-end management and preventive maintenance solution helps lower costs and improve your technology reliability.
            </p>
            <div class="wordsdigital">
                <div class="cardd">
                    <ul>
                        <li>> Cloud platform changes.</li>
                        <li>> Incident prevention and management .</li>
                        <li>> Necessary field dispatch.</li>
                        <li>> Routine preventative maintenance.</li>
                        <li>> Critical firmware updates.</li>
                    </ul>
                </div>
                    <div class="cardd">
                        <ul>
                            <li>> Global rules and access control.</li>
                            <li>> Device and configuration settings.</li>
                            <li>> Room and user provisioning.</li>
                            <li>> License management and inventory assessment.</li>
                            <li>> Application upgrades.</li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="partner-section">
            <h3 class="h2-offers center pt-3 pb-4">We partner with leading collaboration providers
            </h3>
            <div class="container-p-img">
                <div class="center pt-7 pb-7">
                    <img [lazyLoad]="'./assets/partners/cisco.png'" loading="lazy" alt="cisco logo" srcset="" class="w-100 partner-icon">
                </div>
                <div class="center pt-7 pb-7">
                    <img [lazyLoad]="'./assets/partners/CRESTRON.png'" loading="lazy" alt="creston logo" srcset="" class="w-100 partner-icon">
                </div>
                <div class="center pt-7 pb-7">
                    <img [lazyLoad]="'./assets/partners/Extron.png'" loading="lazy" alt="Extron logo" srcset="" class="w-100 partner-icon">
                </div>
                <div class="center pt-7 pb-7">
                    <img [lazyLoad]="'./assets/partners/Google.png'" loading="lazy" alt="Google logo" srcset="" class="w-100 partner-icon">
                </div>
                <div class="center pt-7 pb-7">
                    <img [lazyLoad]="'./assets/partners/logitech.png'" loading="lazy" alt="logitech logo" srcset="" class="w-100 partner-icon">
                </div>
                <div class="center pt-7 pb-7">
                    <img [lazyLoad]="'./assets/partners/Microsof.png'" loading="lazy" alt="Microsoft logo" srcset="" class="w-100 partner-icon">
                </div>
                <div class="center pt-7 pb-7">
                    <img [lazyLoad]="'./assets/partners/neat.png'" loading="lazy" alt="neat logo" srcset="" class="w-100 partner-icon">
                </div>
                <div class="center pt-7 pb-7">
                    <img [lazyLoad]="'./assets/partners/Zoom.png'" loading="lazy" alt="Zoom logo" srcset="" class="w-100 partner-icon">
                </div>
                <div class="center pt-7 pb-7">
                    <img [lazyLoad]="'./assets/partners/Poly.png'" loading="lazy" alt="Poly logo" srcset="" class="w-100 partner-icon">
                </div>
                <div class="center pt-7 pb-7">
                    <img  [lazyLoad]="'./assets/partners/QSYS.png'" loading="lazy" alt="QSYS logo" srcset="" class="w-100 partner-icon">
                </div>
            </div>
        </div>
        <div class="sub">
            <app-newsletter></app-newsletter>
        </div>
        <div class="flex1">
            <div class="images images-back3">
                <img src="" alt="" srcset="">
            </div>
            <div class="flex1-words flex1-words-p">
                <h2 class="h2-offers">
                    Latest products and innovations from Proscene
                </h2>
                <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0;">Complex concepts
                    can be
                    simplified using visual aids, making them
                    easier for young learners to understand. Our solutions can provide clear, concise visual
                    demonstrations
                    to asssist in understanding.</p>
                <a routerLink="/church-solutions" class="demo-button">Explore Proscene</a>
                <div class=" pt-6 pb-6">
                    <a routerLink="/blog" class="padding-block flex1a " style="padding-left: 0;">Dicover more ></a>
                </div>

            </div>
        </div>
        <h2 class="h2-offers text-center">
            Contact us!
        </h2>
        <app-contactform class="pb-9"></app-contactform>
        <app-footer></app-footer>
    </div>