<app-navbar></app-navbar>

<div class="body">
<div>
    <video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
        <source src="/assets/back3.mp4" type="video/mp4">
      </video>
      <h1 class="background-video-h1 header-hero">Digitally empowering how we work, learn and live .</h1>
      <h2 class="background-video-h2 header-p">We are Proscene, reshaping how people interact with the world. We deliver outstanding audio and video experiences in any space. Our Audio and Video solutions enhance your experiences whether you're working, learning, or at home..</h2>
      <p class="text-left pt-3">
        <button class="demo-button ml-2  pb-4">Connect with us!</button>
      </p>
</div>
<div class="solutions">
    <h3 class="h3-solutions center">Smart and easy-to-use Audio and visual<br>
        solutions that drive outcomes
    </h3>
    <div class="card-container">
        <div class="card">
            <ng-icon name="heroCamera" class="icons"></ng-icon>
            <h4 class="h4-solutions">Create</h4>
            <p class="p-solutions">Easily capture video from
                multiple cameras
                presentations and
                screens</p>
        
       <p></p>
        </div>
        <div class="card">
            <ng-icon name="heroCamera" class="icons"></ng-icon>
            <h4 class="h4-solutions">Create</h4>
            <p class="p-solutions">Easily capture video from
                multiple cameras
                presentations and
                screens</p>
        
       <p></p>
        </div>
        <div class="card">
            <ng-icon name="heroCamera" class="icons"></ng-icon>
            <h4 class="h4-solutions">Create</h4>
            <p class="p-solutions">Easily capture video from
                multiple cameras
                presentations and
                screens</p>
        
       <p></p>
        </div>
        <div class="card">
            <ng-icon name="heroCamera" class="icons"></ng-icon>
            <h4 class="h4-solutions">Create</h4>
            <p class="p-solutions">Easily capture video from
                multiple cameras
                presentations and
                screens</p>
        
       <p></p>
        </div>
    </div>
</div>


</div>