@import 'src/themes.scss';
img{
    border-radius: 10px;
}
.container{
    height: 100vh !important;
}
.body-outer{
    width: 100%;
}
#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
    
 }
 .span{
    color: $yellowish;
 }
 .background-video-h2, .background-video-h1 {
    color: white;
    text-align: left;
    padding-bottom: .5rem;
    padding-inline: 1rem;
 }
 
 .header-hero{
    color: $white;
    padding-top: 12vh;
    font-weight: 700;
    font-size: clamp(2.5rem, 10vw + 0.5rem, 3.5rem);
    text-transform: capitalize;
}
.icons{
    font-size: 50px;
}
.icons1{
    font-size: 40px;
}
.solutions{
    padding-top: 2rem;
}
.h3-solutions{
    color: $secondary;
font-size: clamp(1.4238rem, 1.0921rem + 1.6585vw, 2.6469rem);
  line-height: 3rem;
  font-weight: 500;
}
.h4-solutions{
  font-size: 1.72rem;
  font-weight: 500;
  color: rgb(28, 32, 34);
  padding-block: 1em;
  
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partner-section{
    background:linear-gradient(to bottom, #ffffff, #084c6118);
    margin-inline: 1.5rem;
    border-radius: 10px;
}
.partner-icon{
    max-width: 160px;
}
.container-p-img{
    max-width: min(80%, 800px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.partner-images{
    display: flex;
}
.section1{
    padding-inline: 1em;
    text-align: center;
}
.section-image{
    width:min(80%, 400px) ;
}
.picture-link{
    color: $tertiary;
    font-weight: 400;
}
.video-content{
    padding-block: 2em;
    max-width: 800px;
    aspect-ratio: 1; 
}
.use{
    background-color: #084C61; 
    color: white;
    border-radius: 10px;
}

@media (min-width:35em) and (max-width:59em) {
    .use{
        margin-inline: 2rem;
    }
    .header-hero{
        color: $white;
        padding-top: 30vh;
    }
    .picture-section{
        display: flex;
        justify-content: center;
        width: min(80%,1200px);
    margin: 0 auto;
    }
    .use-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (min-width:60em) {
    .use{
        margin-inline: 2rem;
    }
    .header-hero{
        padding-top: 25vh;
        width: 60%;
    }
    .header-p{
        width: 50%;
        padding-bottom: 1em;
    }
    .card-container{
        display: flex;
        justify-content: center;
        padding-inline: 1em;
        padding-block: 2em;
        gap: 1em;
    }
    .picture-section{
        display: flex;
        justify-content: center;
        padding-block: 3em;
        width: min(90%,1300px);
    margin: 0 auto;
    }
    .section1{
        text-align: start;
        width: 50%;
    }
    .center1{
        justify-content: start;
       
    }
    .use-cards{
        display: grid;
        padding-block: 4em;
        grid-template-columns: repeat(4, 1fr);
    }
    .solutions{
        padding-top: 2rem;
    }
}
