@import 'src/themes.scss';
img{
    border-radius: 10px;
}
.body-outer{
    max-width: 1500px;
}
.body{
    padding-top:9.5em;
}
#background-video {
    width: 100%;
    height: 100svh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
    
 }
 .background-video-h2, .background-video-h1 {
    color: white;
    font-family:text-font;
    text-align: left;
    padding-bottom: .5rem;
    padding-inline: 1rem;
 }
 .header-hero{
    color: $white;
    font-weight: 900;
    font-size: clamp(1rem ,2.2rem, 4rem);
    text-transform: capitalize;
    padding-bottom: 2rem;
}
.header-p{
    color: $white;
    padding-bottom: 1rem;
    font-size: clamp(1rem ,.8rem, 1.5rem);
}
.solutions{
    padding-top: 12em;
    font-family: thin;
}
.icons{
    font-size: 70px;
}
.icons1{
    font-size: 40px;
}
.h3-solutions{
font-size: clamp(1.8em ,2.5em, 2.5em);
  line-height: 3rem;
  color: #323232;
  font-weight: 300;
}
.h4-solutions{
    
        font-size: 1.5em;
        font-weight: 300;
        color: #323232;
        padding-block: 1em;
  
}
.p-solutions{
    font-size: 1.2em;
  font-weight: 200;
  line-height: 1.4;
text-align: center;
  color: #787878;
}
.p-solutions1{
    font-size: 1.2em;
  line-height: 1.4;
  font-weight: 400;
  color: #575555f5;
  font-family: 'text'
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partner-section{
    background-color: #f4f4f4d5;
}
.partner-icon{
    max-width: 80px;
}
.partner-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section1{
    padding-inline: 1em;
    text-align: center;
}
.picture-link{
    color: #0a58ca;
}
.testament-p{
    padding-block: 2em;
    max-width: 600px;
    text-align: center;
    font-size: 1.56em;
    font-family: thin;
}
.video-content{
    padding-block: 2em;
    max-width: 800px;
    aspect-ratio: 1; 
}

@media (min-width:35em) and (max-width:59em) {
    .partner-images{
        grid-template-columns: repeat(3, 1fr);
    } 
    .picture-section{
        display: flex;
        justify-content: center;
    }
    .use-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:60em) {
    .body{
        padding-top: 9.5em;
    }
    .header-hero{
        margin-top: 4em;
        width: 50%;
        font-size: 2.7em;
    }
    .header-p{
        width: 50%;
        padding-bottom: 1em;
    }
    .card-container{
        display: flex;
        justify-content: center;
        padding-inline: 1em;
        padding-block: 2em;
        gap: 1em;
    }
    .solutions{
        padding-top: 5em;
    }
    .partner-images{
        grid-template-columns: repeat(6, 1fr);
    }
    .picture-section{
        display: flex;
        justify-content: center;
        padding-block: 3em;
    }
    .section1{
        text-align: start;
        width: 50%;
    }
    .center1{
        justify-content: start;
    }
    .use-cards{
        display: grid;
        padding-block: 4em;
        grid-template-columns: repeat(4, 1fr);
    }
}