@import 'src/themes.scss';

img{
    border-radius: 10px;
}
.body-outer{
    width: 100%;
}

#background-video {
    width: 100%;
    height: 100svh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
    
 }
 .span{
    color: $yellowish;
 }
 .background-video-h2, .background-video-h1 {
    color: white;
    text-align: left;
    padding-bottom: .5rem;
    padding-inline: 1rem;
 }
 
 .header-hero{
    color: $white;
    padding-top: 27vh;
    font-weight: 700;
    font-size: clamp(2.5rem, 10vw + 0.5rem, 3.5rem);
    text-transform: capitalize;
}

.solutions{
    // padding-top: 12em;
    margin-top: 65vh;
    // font-family: thin;
}
.icons{
    font-size: 50px;
}
.icons1{
    font-size: 40px;
}
.h3-solutions{
    color: $the-blue;
font-size: clamp(1.8em ,2.2em, 2.5em);
  line-height: 3rem;
  font-weight: 600;
}
.h4-solutions{
  font-size: 1.72rem;
  font-weight: 600;
  color: #323232;
  padding-block: 1em;
  
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partner-section{
    background-color: #f4f4f4d5;
}
.partner-icon{
    max-width: 160px;
}
.container-p-img{
    max-width: min(80%, 800px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.partner-images{
    display: flex;
}
.section1{
    padding-inline: 1em;
    text-align: center;
}
.picture-link{
    color: #0a58ca;
    font-weight: 300;
}
.testament-p{
    padding-block: 2em;
    max-width: 600px;
    text-align: center;
    font-size: 1.56em;
    font-family: thin;
}
.video-content{
    padding-block: 2em;
    max-width: 800px;
    aspect-ratio: 1; 
}

@media (min-width:35em) and (max-width:59em) {
    .header-hero{
        color: $white;
        padding-top: 30vh;
    }
    .partner-images{
        
    } 
    .picture-section{
        display: flex;
        justify-content: center;
    }
    .use-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .solutions{
        margin-top: 68vh;
    }
}
@media (min-width:60em) {
    .header-hero{
        padding-top: 25vh;
        width: 60%;
    }
    .header-p{
        width: 50%;
        padding-bottom: 1em;
    }
    .card-container{
        display: flex;
        justify-content: center;
        padding-inline: 1em;
        padding-block: 2em;
        gap: 1em;
    }
    .solutions{
        margin-top: 38vh;
    }

    .partner-images{
        // grid-template-columns: repeat(6, 1fr);
    }
    .picture-section{
        display: flex;
        justify-content: center;
        padding-block: 3em;
    }
    .section1{
        text-align: start;
        width: 50%;
    }
    .center1{
        justify-content: start;
    }
    .use-cards{
        display: grid;
        padding-block: 4em;
        grid-template-columns: repeat(4, 1fr);
    }
}
// @media (min-width:) {
    
// }