<app-navbar></app-navbar>
<main class="switcher wrapper">
    <div class="main">
        <div class="decorative-image center">
<img src="/assets/collaboration.avif" alt="" srcset="" class="p-3">
        </div>

        <div class="words">
            <article>
                <h1 class="services-header pb-4">
                    Collaboration as a Service</h1>
                <p>
                    Bundled unified communications (UC) applications, AV devices, and IT services.
                </p>
                <p class="pt-2">
                    We designed our Collaboration as a Service (CaaS) program for customers who want their teams to feel
                    connected, collaborative, engaged, and productive. Why worry about the procurement and management of
                    hardware, software, training, maintenance, and collaboration technology support?
                </p>
                <p class="pt-2 pb-6">
                    Let Proscene do it all for you.
                </p>

                <a class="demo-button" routerLink="/contact-us">
                    Schedule demo
                </a>
            </article>
        </div>
    </div>
</main>
<div class="wrapper-color">
    <div class="colored">
        <h2 class="h2-offers text-center" style="color: white; padding-top: 2rem;">We manage your collaboration technology</h2>
        <p class="pt-6  pb-6 width: 90%; padding-block" style="padding-left: 0;">
            As your digital enablement solutions partner,Proscene has the expertise and resources to support your hybrid
            workforce. We’ll refresh your meeting rooms, quickly scale UC and cloud video capacity, and keep costs
            manageable and predictable..
        </p>
        <p class="pt-6  pb-6 width: 90%; padding-block " style="padding-left: 0;">
            You’ll be <b>free to focus your IT resources on strategic business goals</b>. That’s the power of Collaboration
            as a Service.
        </p>
        <div class="colored-grid">
            <div class="colored-grid-card pt-9 mt-9">
                <ng-icon class="icons" name="heroUserGroup"></ng-icon>
                <p class="grid-card-p">Unified communications</p>
            </div>
            <div class="colored-grid-card pt-9 mt-9">
                <ng-icon class="icons" name="heroDevicePhoneMobile"></ng-icon>
                <p class="grid-card-p">AV devices</p>
            </div>
            <div class="colored-grid-card pt-9 mt-9">
                <ng-icon class="icons" name="heroCog"></ng-icon>
                <p class="grid-card-p">IT services</p>
            </div>
        </div>
        <p class="pt-12 pb-6 width: 90%; padding-block">
            Proscene experts work with you to bundle unified communications (UC) applications, AV devices, and IT services. We help you deliver the essential capabilities that drive successful collaboration and support it with an uptime SLA
        </p>
        <p class="pt-6  pb-6 width: 90%; padding-block " style="padding-left: 0;">
    
    
    Proscene experts work with you to bundle unified communications (UC) applications, AV devices, and IT services. We help you deliver the essential capabilities that drive successful collaboration and support it with an uptime SLA.
    We’ll package your hardware, software licensing, training, maintenance, and service into one program. Collaboration as a Service options include flexible payment terms and the ability to refresh technology at fixed intervals in the future.
        </p>
    </div>
</div>
<h2 class="h2-offers">
    Why Collaboration as a Service
</h2>
<div class="service-paragraphs">
    <p class="pt-6  pb-6 width: 90%; padding-block" style="padding-left: 0;"> Proscene designed our Collaboration as a Service program with the enterprise in mind. It delivers reliability, ease of use, and security. This option is also suitable for any organization looking to accelerate growth and manage IT resources more efficiently.</p>
</div>
<h2 class="h2-offers">
    Key benefits
</h2>
<div class="service-paragraphs">
    <ul>
        <li>Align with how you already consume other technology, like laptops and mobile phones</li>
        <li>Conserve capital for strategic business investments while making budgets predictable</li>
        <li>Outsource UC and meeting room technology configuration, interoperability, refresh cycles, and management requirements </li>
        <li>Consolidate and co-term license renewals and hardware refreshes to ease life-cycle management and platform migrations</li>
        <li>Provide a consistent user experience across all collaboration technology and spaces</li>
    </ul>
    <div class="colored-grid">
        <div class="colored-grid-card pt-9 mt-9 text-center">
            <ng-icon class="icons" name="heroArrowPathRoundedSquare"></ng-icon>
            <p class="grid-card-p">Lifecycle Management</p>
        </div>
        <div class="colored-grid-card pt-9 mt-9 text-center">
            <ng-icon class="icons" name="heroCloudArrowDown"></ng-icon>
            <p class="grid-card-p">Greater Flexibility</p>
        </div>
        <div class="colored-grid-card pt-9 mt-9 text-center">
            <ng-icon class="icons" name="heroBanknotes"></ng-icon>
            <p class="grid-card-p">Lower Cost Leasing</p>
        </div>
    </div>
    <div class="pb-9 pt-12">
        <a class="demo-button" routerLink="/contact-us">
            Schedule a workshop >
        </a></div>
</div>
<div class="grey pt-4">
    <h2 class="h2-offers">
        What’s included in Collaboration as a Service
    </h2>
    <div class="service-paragraphs">
        <p class="pt-6  pb-6 width: 90%; padding-block " style="padding-left: 0;">
            Based on your AV and UC technology roadmap and end-user needs, your Collaboration as a Service program may include any or all of the following:
        </p>
        <ol>
            <li><b>Hardware</b> such as video conferencing endpoints and devices, displays, audio systems, microphones, content distribution, and control interfaces</li>
            <li><b>Software</b> licensing fees such as Cisco Webex, Microsoft Teams, or Zoom</li>
            <li>Deployment, <a>managed services</a>, maintenance and support such as:</li>
        </ol>
        <div class="collaboration-detail">
            <ul>
                <li>Integration and installation</li>
                <li>Technology training</li>
                <li>Remote monitoring and management</li>
                <li>Analytics and reporting</li>
                <li>Cloud administration</li>
            </ul>
            <ul>
                <li>24/7 help desk support</li>
                <li>User experience management</li>
                <li>Capacity and performance management</li>
                <li>Asset tracking and auditing</li>
                <li>Problem and incident management</li>
            </ul>
        </div>
        <p class="pt-9">
    Flexible subscription terms from one to five years, with monthly, quarterly, or annual payments, and interest-free options available.
        </p>
        <div class="pb-9 pt-12">
            <a class="demo-button" routerLink="/contact-us">
                Learn about financing >
            </a></div>
    </div>
</div>
<div class="center flex-col">
    <h2 class="h2-offers text-center pt-9 pb-4">What is Collaboration as a service?</h2>
    <ng-icon class="icons" name="heroArrowsPointingIn"></ng-icon>
    <p class="pt-6  pb-6 width: 90%; padding-block pr-2 pl-2 text-center" style="padding-left: 0;">
       It is unified communication. We therefore partner with large companies to support you
    </p>
    <div class="partner-images pb-9">
        <div class="container-p-img">
            <div class="center pt-7 pb-7">
                <img src="./assets/partners/cisco.png" alt=center pt-7 pb-7 srcset="" class="w-100 partner-icon">
            </div>
            <div class="center pt-7 pb-7">
                <img src="./assets/partners/CRESTRON.png" alt="" srcset="" class="w-100 partner-icon">
            </div>
            <div class="center pt-7 pb-7">
                <img src="./assets/partners/Extron.png" alt="" srcset="" class="w-100 partner-icon">
            </div>
            <div class="center pt-7 pb-7">
                <img src="./assets/partners/Google.png" alt="" srcset="" class="w-100 partner-icon">
            </div>
            <div class="center pt-7 pb-7">
                <img src="./assets/partners/logitech.png" alt="" srcset="" class="w-100 partner-icon">
            </div>
            <div class="center pt-7 pb-7">
                <img src="./assets/partners/Microsof.png" alt="" srcset="" class="w-100 partner-icon">
            </div>
            <div class="center pt-7 pb-7">
                <img src="./assets/partners/neat.png" alt="" srcset="" class="w-100 partner-icon">
            </div>
            <div class="center pt-7 pb-7">
                <img src="./assets/partners/Zoom.png" alt="" srcset="" class="w-100 partner-icon">
            </div>
            <div class="center pt-7 pb-7">
                <img src="./assets/partners/Poly.png" alt="" srcset="" class="w-100 partner-icon">
            </div>
            <div class="center pt-7 pb-7">
                <img src="./assets/partners/QSYS.png" alt="" srcset="" class="w-100 partner-icon">
            </div>
        </div>
    </div>
</div>

<app-contactform></app-contactform>

<app-footer></app-footer>