<app-navbar></app-navbar>

<div class="bg-gray-100 pt-12">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Privacy Policy</h1>

        <p class="mb-4">
            This privacy policy applies to all users of our sites and services and covers what information we collect and why we collect it, how we use the information we collect, and the choices you have to access and update that information. Please familiarize yourself with our practices and let us know if you have any questions. By using our sites and services, you expressly consent to our collection, use, disclosure, and retention of your personal information as described in this privacy policy. Each time you use our sites and services, the current version of this privacy policy will apply. If you do not agree to this privacy policy, please do not use our sites or services.
            
        </p>
        <h2 class="text-2xl font-bold mb-2">Information We Collect</h2>

        <p class="mb-4">
            If you wish to learn more about our company and our sites and services, you may use the “Contact Us” or “Live Chat” features on our website. We request you provide the following information:
        </p>
        <ul class="list-disc list-inside mb-4">
            <li>Your name</li>
            <li>Email</li>
            <li>Phone number</li>
            <li>company</li>
            <li>Job function</li>
            <li>Department</li>
            <li>Country</li>
            <li>Demographic information</li>
            <li>Other information relevant to customer surveys and/or offers</li>
        </ul>
        <p class="mb-4">
            Help Desk Support: When you choose to submit a support ticket to our Global Help Desk using our online form, we request the following information: (i) company name, (ii) full name, (iii) phone number, (iv) e-mail address, and (v) street address for location in need of service. The provision of this information is mandatory in order for us to provide support.
        </p>
        <p class="mb-4">
            Account Creation: To purchase services offered on our sites, a user may be required to register an account by completing a form online. Through the completion of the form by a user we typically collect the following information: (i) full name, (ii) address, (iii) e-mail address, (iv) credit card information, (v) password, and (vi) username. All users can access the Website without being a registered user. However, you will not be able to access certain areas or purchase our services online if you are not a registered online user.
        </p>
        <h2 class="text-2xl font-bold mb-2">How We Use the Information</h2>

        <p class="mb-4">
            We require this information to understand your needs and provide you with a better service, and in
            particular
            for
            the following reasons:
        </p>

        <ul class="list-disc list-inside mb-4">
            <li>Internal record keeping</li>
            <li>Improving our products and services</li>
            <li>Sending promotional emails about new products, special offers, or other information which we think you
                may
                find
                interesting</li>
            <li>From time to time, we may also use your information to contact you for market research purposes. We may
                contact
                you by email, phone, or mail. We may use the information to customize the website according to your
                interests.</li>
        </ul>

        <h2 class="text-2xl font-bold mb-2">Security</h2>

        <p class="mb-4">
            We are committed to ensuring that your information is secure. In order to prevent unauthorized access or
            disclosure,
            we have put in place suitable physical, electronic, and managerial procedures to safeguard and secure the
            information we collect online.
        </p>

        <h2 class="text-2xl font-bold mb-2">Cookies</h2>

        <p class="mb-4">
            A cookie is a small file that asks permission to be placed on your computer's hard drive. Once you agree,
            the
            file
            is added, and the cookie helps analyze web traffic or lets you know when you visit a particular site.
            Cookies
            allow
            web applications to respond to you as an individual. The web application can tailor its operations to your
            needs,
            likes, and dislikes by gathering and remembering information about your preferences.
        </p>

        <p class="mb-4">
            Overall, cookies help us provide you with a better website by enabling us to monitor which pages you find
            useful
            and which you do not. A cookie in no way gives us access to your computer or any information about you,
            other
            than
            the data you choose to share with us.
        </p>

        <h2 class="text-2xl font-bold mb-2">Links to Other Websites</h2>

        <p class="mb-4">
            Our website may contain links to other websites of interest. However, once you have used these links to
            leave
            our
            site, you should note that we do not have any control over that other website. Therefore, we cannot be
            responsible
            for the protection and privacy of any information which you provide whilst visiting such sites and such
            sites
            are
            not governed by this privacy statement. You should exercise caution and look at the privacy statement
            applicable
            to
            the website in question.
        </p>

        <h2 class="text-2xl font-bold mb-2">Controlling Your Personal Information</h2>

        <p class="mb-4">
            You may choose to restrict the collection or use of your personal information in the following ways:
        </p>

        <ul class="list-disc list-inside mb-4">
            <li>If you have previously agreed to us using your personal information for direct marketing purposes, you
                may
                change your mind at any time by writing to or emailing us at info@proscene.co.ke</li>
            <li>We will not sell, distribute, or lease your personal information to third parties unless we have your
                permission
                or are required by law to do so. We may use your personal information to send you promotional
                information
                about
                third parties which we think you may find interesting if you tell us that you wish this to happen.</li>
            <li>You may request details of personal information which we hold about you. If you would like a copy of the
                information held on you, please write to us via email</li>
            <li>If you believe that any information we are holding on you is incorrect or incomplete, please write to or
                email
                us as soon as possible at the above address. We will promptly correct any information found to be
                incorrect.
            </li>
        </ul>

        <p class="mb-4">
            This privacy policy is subject to change without notice.
        </p>
    </div>
</div>
<app-footer></app-footer>