<app-navbar></app-navbar>
<main>
<div class="blog-land">
    <div class="header">
        <h1 class=" center"><span class="mr-4">Stories </span> and <span class="ml-4"> ideas</span></h1>
        <div class="first">
            <div>
                <h2 class="center">Best of the week...</h2>
            </div>
            <div class="center"><a routerLink="" class="demo-button">Get in touch</a></div>
        </div>
        <div class="section1">
            <div class="big-card">
                <div class="big-card-img"></div>
                <div class="big-card-words">
                    <p class="date pt-2 pb-2">May 22, 2024</p>
                    <h3 class="big-card-words-h ">Why IT Leaders Are Evolving the Network into a High-Performance Digital Engine</h3>
                    <p class="bigcard-words-p pt-2">Society expects and depends on an ever-increasing fusion of digital and physical experiences for everyday life and business progress. This dependency is apparent in the 2024 Cisco Global Networking Trends Report, which shows a continued correlation between network investment in fueling digital experiences and the benefits felt by organizations.</p>
                </div>
            </div>
            <div class="flex-3">
                <div class="card1">
                    <div class="image1"></div>
                    <div>
                        <p class="date pt-2 pb-2">May 22, 2024</p>
                        <a routeLink="">
                            <h3 class="big-card-words-h ">The race against economic inequality within emerging markets – a case for SMEs</h3>
                        </a>
                    </div>
                </div>
                <div class="card1">
                    <div class="image1"></div>
                    <div>
                        <p class="date pt-2 pb-2">May 22, 2024</p>
                        <a routeLink="">
                            <h3 class="big-card-words-h ">The race against economic inequality within emerging markets – a case for SMEs</h3>
                        </a>
                    </div>
                </div>
                <div class="card1">
                    <div class="image1"></div>
                    <div>
                        <p class="date pt-2 pb-2">May 22, 2024</p>
                        <a routeLink="">
                            <h3 class="big-card-words-h ">The race against economic inequality within emerging markets – a case for SMEs</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="first">
        <div>
            <h2 class="center pt-7">Success stories...</h2>
        </div>
        <div class="center"></div>
    </div>
        <div class="main-container">
            <div class="card-grid">
                <div class="card-grid-img"></div>
                <div class="card-grid-w">
                    <p class="date pt-2 pb-2">May 22, 2024</p>
                    <h3 class="big-card-words-h ">The race against economic inequality within emerging markets – a case for SMEs</h3>
                    <p class="bigcard-words-p pt-2">Society expects and depends on an ever-increasing fusion of digital and physical experiences for everyday life and business progress. This dependency is apparent in the 2024 Cisco Global Networking Trends Report, which shows a continued correlation between network investment in fueling digital experiences and the benefits felt by organizations.</p>
                </div>
            </div>
            <div class="card-grid">
                <div class="card-grid-img"></div>
                <div class="card-grid-w">
                    <p class="date pt-2 pb-2">May 22, 2024</p>
                    <h3 class="big-card-words-h ">The race against economic inequality within emerging markets – a case for SMEs</h3>
                    <p class="bigcard-words-p pt-2">Society expects and depends on an ever-increasing fusion of digital and physical experiences for everyday life and business progress. This dependency is apparent in the 2024 Cisco Global Networking Trends Report, which shows a continued correlation between network investment in fueling digital experiences and the benefits felt by organizations.</p>
                </div>
            </div>
            <div class="card-grid">
                <div class="card-grid-img"></div>
                <div class="card-grid-w">
                    <p class="date pt-2 pb-2">May 22, 2024</p>
                    <h3 class="big-card-words-h ">The race against economic inequality within emerging markets – a case for SMEs</h3>
                    <p class="bigcard-words-p pt-2">Society expects and depends on an ever-increasing fusion of digital and physical experiences for everyday life and business progress. This dependency is apparent in the 2024 Cisco Global Networking Trends Report, which shows a continued correlation between network investment in fueling digital experiences and the benefits felt by organizations.</p>
                </div>
            </div>
            <div class="card-grid">
                <div class="card-grid-img"></div>
                <div class="card-grid-w">
                    <p class="date pt-2 pb-2">May 22, 2024</p>
                    <h3 class="big-card-words-h ">The race against economic inequality within emerging markets – a case for SMEs</h3>
                    <p class="bigcard-words-p pt-2">Society expects and depends on an ever-increasing fusion of digital and physical experiences for everyday life and business progress. This dependency is apparent in the 2024 Cisco Global Networking Trends Report, which shows a continued correlation between network investment in fueling digital experiences and the benefits felt by organizations.</p>
                </div>
            </div>
        </div>
    
</div>
<button (click)="openModal()">Open Modal</button>
<app-modal *ngIf="isModalOpen" (closeEvent)="closeModal()"></app-modal>

<div class="pt-4 pb-9">
    <div class="center"><a routerLink="" class="demo-button">Get started</a></div>
</div>
</main>
<app-contactform></app-contactform>
<app-footer></app-footer>
