<div class="body">
    <app-navbar></app-navbar>
    <header class="hero">
        <div class="container">
            <div class="container-words">
                <p class="hero-p">Education week deal</p>
                <h1 class="hero-title pb-3">Celebrate every student with a sure future.</h1>
                <p class="hero-p2 header-p pt-2">
                    Our cutting-edge technology enhances learning experience, making it more
                    interactive, engaging, and accessible. From smart classrooms to virtual learning environments, our
                    solutions empower students to learn at their own pace, in their own style.
                </p>
                <a routerLink="/coming-soon" class="demo-button">Find gifts</a>
            </div>
            <img [lazyLoad]="'/assets/otherstudents.jpg'" loading="lazy" alt="A woman in n online meeting" class="hero-image" srcset="">
        </div>
    </header>
    <div class="options">
        <a routerLink="/guides">
            <div class="option1">
                <ng-icon class="icons" name="heroArrowDown"></ng-icon>
                <p>Downloads</p>
            </div>
        </a>
        <a routerLink="/case-study">
            <div class="option1">
                <ng-icon class="icons" name="heroStar"></ng-icon>
                <p>Certifications</p>
            </div>
        </a>
        <a routerLink="/events">
            <div class="option1">
                <ng-icon class="icons" name="heroDocumentCheck"></ng-icon>
                <p>Validated</p>
            </div>
        </a>
        <a routerLink="/reference-design">
            <div class="option1">
                <ng-icon class="icons" name="heroHomeModern"></ng-icon>
                <p>Training</p>
            </div>
        </a>
        <a routerLink="/events">
            <div class="option1">
                <ng-icon class="icons" name="heroUserGroup"></ng-icon>
                <p>Community</p>
            </div>
        </a>
        <a routerLink="/careers">
            <div class="option1">
                <ng-icon class="icons" name="heroBriefcase"></ng-icon>
                <p>Careers</p>
            </div>
        </a>

    </div>
    <div class="offers">
        <h2 class="h2-offers text-center">
            Latest products and innovations from Proscene
        </h2>

    </div>

    <div class="solutions">
        <div class="cards-solutions">
            <div class="card1">
                <div class="image imageone"></div>
                <div class="words">
                    <h5 class=" pt-6 width: 90%; padding-block">Interactive classes</h5>
                    <p class="pt-6 width: 90%; padding-block padding-block p-solutions">Our solutions provide interactive
                        experiences that can make learning more engaging. This can be particularly beneficial for
                        younger learners who learn best through interaction and play.</p>
                </div>
                <div class=" pt-6 pb-6">
                    <a routerLink="/AV-room-design" class="width: 90%; padding-block">Dicover more ></a>
                </div>
            </div>
        </div>
        <div class="cards-solutions">
            <div class="card1">
                <div class="image imagetwo"></div>
                <div class="words padding-block">
                    <h5 class=" pt-6">Distance Learning:</h5>
                    <p class="pt-6 p-solutions">In the current trend where remote learning is becoming increasingly necessary, our
                        solutions can provide high-quality, interactive learning experiences from the safety and comfort of our homes.
                    </p>
                </div>
                <div class=" pt-6 pb-6 padding-block">
                    <a routerLink="/collaboration-as-a-service" class=" width: 90%;">Dicover more ></a>
                </div>
            </div>
        </div>
        <div class="cards-solutions">
            <div class="card1">
                <div class="image imagethree"></div>
                <div class="words">
                    <h5 class=" pt-6 width: 90%; padding-block">Visual Demonstrations</h5>
                    <p class="pt-6 width: 90%; padding-block p-solutions">Complex concepts can be simplified using visual aids,
                        making them easier for young learners to understand. Our solutions can provide clear, concise
                        visual demonstrations to asssist in understanding.</p>
                </div>
                <div class=" pt-6 pb-6">
                    <a routerLink="/digital-signage" class="padding-block">Dicover more ></a>
                </div>
            </div>
        </div>

    </div>
    <div class="flex1">
        <div class="images images-back1">
        </div>
        <div class="flex1-words flex1-words-p">
            <h2 class="h2-offers">
                Latest products and innovations from Proscene
            </h2>
            <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0;">Complex concepts can be simplified using visual aids, making them
                easier for young learners to understand. Our solutions can provide clear, concise visual demonstrations
                to asssist in understanding.</p>
                <a routerLink="" class="demo-button">Explore Proscene</a>
                <div class=" pt-6 pb-6">
                    <a routerLink="/contact-us" class="padding-block flex1a" style="padding-left: 0;">Dicover more ></a>
                </div>

        </div>
    </div>
    <div class="flex1">
        
        <div class="flex1-words wordsm ">
            <h2 class="h2-offers">
                Get the 2024 Proscene report
            </h2>
            <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0;">How ready are you to tackle communication in the modern world? You can find out by checking out our latest research below.</p>
                <a routerLink="" class="demo-button">Read report</a>
                <div class=" pt-6 pb-6">
                    <a routerLink="/guides" class="padding-block flex1a" style="padding-left: 0;">View trials and demos ></a>
                </div>

        </div>
        <div class="images flex1-words-p images-back2">
        </div>
    </div>
    <div class="flex1">
        <div class="images images-back3">
        </div>
        <div class="flex1-words flex1-words-p">
            <h2 class="h2-offers">
                Latest products and innovations from Proscene
            </h2>
            <p class="pt-6  pb-6 width: 90%; padding-block p-solutions" style="padding-left: 0;">Complex concepts can be simplified using visual aids, making them
                easier for young learners to understand. Our solutions can provide clear, concise visual demonstrations
                to asssist in understanding.</p>
                <a routerLink="" class="demo-button">Explore Proscene</a>
                <div class=" pt-6 pb-6">
                    <a routerLink="" class="padding-block flex1a" style="padding-left: 0;">Dicover more ></a>
                </div>

        </div>
    </div>
    <h2 class="h2-offers text-center">
        Contact us!
    </h2>
    <div class="pb-9">
        <app-contactform></app-contactform>
    </div>
    <app-footer></app-footer>
</div>