<app-navbar></app-navbar>
<main class="switcher wrapper">
    <div class="main">
        <div class="decorative-image center">
            <img [lazyLoad]="'/assets/maintain.avif'" loading="lazy" alt="A picture showing maintainance of an electronic devices" srcset="" class="p-3">
        </div>

        <div class="words">
            <article>
                <h1 class="services-header">support & maintenance</h1>
                <p>
                    Proscene's remote support teams set the standard in digital workplace AV and UC services and
                    support.
                </p>
                <p class="pt-2">
                    Combined with our extensive global network of technicians, our ability to provide service anytime,
                    anywhere on the globe is unmatched. Support includes:
                </p>
                <ul class="pt-3 pb-6 articles-ul">
                    <li>Unlimited 24/7 help desk, available every day</li>
                    <li>Local repair and service dispatch</li>
                    <li>Manufacturer warranty support</li>
                    <li>Preventative maintenance contracts</li>
                    <li>Service level agreements</li>
                </ul>
                <a routerLink="/support-services" class="demo-button" >
                    explore Proscene's services
                </a>
            </article>
        </div>
    </div>
</main>
<div class="flex1-container">
    <div class="flex1">
        <div class="flex1-words flex1-words-p">
            <h2 class="h2-offers" style="padding-left: 0; margin-left: 0; color: white;">
                Introducing
                Enterprise Maintenance
            </h2>
            <p class="pt-6  pb-6 width: 90%; padding-block" style="padding-left: 0;">One subscription. Fixed
                pricing. Global AV/UC support.</p>
            <p class="pt-6  pb-6 width: 90%; padding-block" style="padding-left: 0;">Scalable 24/7 global
                technical support and maintenance for all of your audio-visual and unified collaboration spaces.</p>
            <div class=" pt-6 pb-6">
                <a routerLink="/contact-us" class="demo-button">Explore Enterprise support</a>
            </div>
        </div>
        <div class="images images-back1">
        </div>
    </div>
</div>
<div class="grey-back">
    <h2 class="h2-offers text-center">
        Why choose Procene support?
    </h2>
    <div class="choose">
        <div class="choose-card">
            <h5 class="choose-card-header">95% customer</h5>
            <p class="choose-card-p">satisfaction rating and clientscore</p>
        </div>
        <div class="choose-card">
            <h5 class="choose-card-header">ITIL certified </h5>
            <p class="choose-card-p">support team</p>
        </div>
        <div class="choose-card">
            <h5 class="choose-card-header">24/7 support</h5>
            <p class="choose-card-p">Around the country</p>
        </div>
        <div class="choose-card">
            <h5 class="choose-card-header">on-site</h5>
            <p class="choose-card-p">employees
                support Fortune 500 companies</p>
        </div>
    </div>
</div>
<h2 class="h2-offers" style="padding-top: 2rem;">
    24/7 support from countrywide remote support teams
</h2>
<div class="service-paragraphs">
    <p class="pt-6  pb-3 width: 90%; padding-block" style="padding-left: 0;">We deliver live help desk support 24/7, every day.</p>
    <p class="pt-6  pb-6 width: 90%; padding-block" style="padding-left: 0;">With distributed technicians around, we understand local intricacies and methods.</p>
</div>
<h2 class="h2-offers">
    Enhanced support
</h2>
<div class="service-paragraphs">
    <p class="pt-6  pb-6 width: 90%; padding-block" style="padding-left: 0;">Our Enhanced services give you an extra level of remote responsiveness and support with:</p>
    <ul>
        <li>Unlimited remote help desk support – available globally 24/7 every day</li>
        <li>Facilitation of manufacturer repair or replacement programs – let us navigate your warranty terms</li>
        <li>Software and firmware updates managed remotely for covered assets</li>
    </ul>
</div>
<h2 class="h2-offers">
    Elite support
</h2>
<div class="service-paragraphs">
    <p class="pt-6  pb-6 width: 90%; padding-block " style="padding-left: 0;">Our Elite services give you an extra level of onsite responsiveness and support with:</p>
    <ul>
        <li>Software and firmware updates managed remotely for covered assets</li>
        <li>Facilitation of manufacturer repair or replacement programs – let us navigate your warranty terms</li>
        <li>Unlimited remote help desk support – available globally 24/7 everyday</li>
        <li>Unlimited onsite support M-F, 8am-5pm*</li>
    </ul>
</div>
<h2 class="h2-offers">
    Enterprise maintenance
</h2>
<div class="service-paragraphs">
    <p class="pt-6  pb-6 width: 90%; padding-block " style="padding-left: 0;">Our Enhanced services give you an extra level of remote responsiveness and support with:</p>
    <ul>
        <li>Automatic support for in-room technology changes</li>
        <li>Flexible subscription options for remote or on-site support</li>
        <li>Service portability to new rooms/room locations</li>
        <li>1 and 3-year term options</li>
        <li>24/7 support from certified technicians</li>
        <li>Support for over 100 manufacturer technologies</li>
    </ul>
</div>
<app-contactform></app-contactform>

<app-footer></app-footer>
    