@import 'src/themes.scss';
  .switcher{
    height: 100%;
color: $the-blue;
  }
  
  .main{
    
    margin-top: 3rem;
  }
  h1{
    font-weight: 400;
  }
  .words{
    background-color: var(--color-light);
    padding: 2rem;
  }
  ul li{
    padding-block: .5em;
  }
  ul li::marker{
    content:"☑  ";
  }
  .grey-back{
    background-color: #F1F1F1 ;
    padding-block: 3rem;
  }
  
.choose-card{
    border-top: 2px solid $the-blue;
    margin-block: 1rem;
    padding-top:1rem;
}
.choose-card-header{
    font-weight: 700;
  font-size: 1.4rem;
}
.choose{
    display: grid;
    text-align: center;
    padding-inline: 1rem;
    margin-block: 1.5rem;
}
.service-paragraphs, h2{
    padding-block: .5rem;
    padding-inline: 2rem;
}
.images-back1{
  background-image: url('/assets/maintain2.avif');
}
@media (min-width:35em) and (max-width:59em) {
 
    .flex1{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
  @media (min-width:45em) {
    .main{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2em;
      padding: 1.6em;
    }
    .articles-ul{
        padding-left: 2em;
    }
    .choose{
       grid-template-columns: repeat(4, 1fr);
       max-width: min(90%, 1200px);
       margin: auto;
        gap:1rem;
    }
    .service-paragraphs, h2{
       width: min(90%, 1000px);
       margin: 0 auto;
    }
  }

  @media (min-width:60em) {
    
    .images, .wordsm{
        margin: 3rem;
    }
    
}