<div class="testimony">
    <div class="test-card">
        <div class="testimonial">
            <img class="testimonial-image" src="https://images.unsplash.com/photo-1542596594-649edbc13630?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <h4 class="test-h4">Wilkins Michira</h4>
            <p class="testimonial-p p-solutions">Our mission is to design and implement custom audio visual solutions that help organizations communicate, collaborate, and engage more effectively, while providing exceptional service and support to our clients</p>
            
          </div>       
    </div>
    
    <div class="test-card">
        <div class="testimonial">
            <img class="testimonial-image" src="https://images.unsplash.com/photo-1542596594-649edbc13630?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <h4 class="test-h4">Joy Dasi</h4>
            <p class="testimonial-p p-solutions">Experiencing the services of this audio visual company has been truly transformative. Their custom solutions have revolutionized our communication and collaboration processes, making them more efficient and effective. The exceptional service and support they provide is simply unparalleled. We couldn’t be more satisfied!</p>
            
          </div>  
    </div>

</div>
