@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'themes.scss';
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;

}
.flex{                       
    display: flex;
    gap: var(--gap, 1rem);    
    }
.center
{
        text-align: center;
        justify-content: center;align-items: center;
        display: flex;
}
.header-p{
  color: $white;
  padding-bottom: 1rem;
  font-size: clamp(1rem ,.8rem, 1.5rem);
}
.miniheadings{
    text-align:center;
    margin-block: 2rem;
    font-size: 2.4rem;
    color: $the-blue;
    text-transform: capitalize;
    text-decoration: underline wavy $the-blue;
}
  .demo-button1{
    border: 1px solid #fff;
    padding: 4px 21px;
  text-transform: uppercase;
  background-color: #0a0a22;
  color: #fff;
  border-radius: 30px;
  transition: all 0.5s ease;
  }
  .demo-button{
    border: 1px solid #fff;
  padding: 4px 21px;
  text-transform: capitalize;
  background-color: #0a0a22;
  color: #fff;
  border-radius: 30px;
  transition: all 0.5s ease;
  }
  .demo-button:hover{
    background-color: #bf2525;
    color: #0a0a22;
  }
  a{
    cursor: pointer;
  }
 
.p-solutions{
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
  color: $text;
}
@media (min-width:35em) and (max-width:60em) {

}



@media (min-width : 60em) {
    .demo-button{
        padding: 7px 23px;
    }
  
}