@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'themes.scss';
@font-face {
    font-family: 'thin';
    src: url('/assets/fonts/myriad-set-pro-thin-webfont.ttf');
  }
@font-face {
    font-family: 'text-font';
    src: url('/assets/fonts/myriad-set-pro_text-webfont.ttf');
  }
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // display: flex;
    // justify-content: center;
}
.flex{                       
    display: flex;
    gap: var(--gap, 1rem);    
    }
.center
{
        text-align: center;
        justify-content: center;align-items: center;
        display: flex;
}
.miniheadings{
    text-align:center;
    margin-block: 2rem;
    font-size: 2.4rem;
    color: $the-blue;
    text-transform: capitalize;
    text-decoration: underline wavy $the-blue;
}
.button-happyhour{
    margin-block: 1.5rem;
 }
 .read-more{
    padding: .5em 2em;
    background-color: $yellowish;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    border: 3px dotted $white;
    color: $white;
    border-radius: 30px;
    box-shadow: 0 0 0 6px $yellowish;
}

// styling for the entertainment-package page
.diagonal-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: $white;
}
.small-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    color: $the-blue;
    padding: .4em;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 0 6px $white;
}


.headings-h3 {
    font-size: 1.9rem;
    text-decoration: underline wavy;
    color: $the-blue;
    text-transform: capitalize;
    display: inline;
  }
  .demo-button{
    Border: 1px solid #fff;
  padding: 4px 8px;
  background-color: #0a0a22;
  color: #fff;
  border-radius: 30px;
  transition: all 0.5s ease;
  }
  .demo-button:hover{
    background-color: #bf2525;
    color: #0a0a22;
  }
@media (min-width:35em) and (max-width:60em) {

}



@media (min-width : 60em) {
    .demo-button{
        padding: 5px 20px;
    }
  
}