<div class="sub">
    <h2 class="h2-offers center" style="color: white;">
        Have any questions?
    </h2>

<div class="pt-7 center">
  <a routerLink="/contact-us" class="demo-button">contact us</a>
    
    <!-- <form action="" class="form" [formGroup]="form" (ngSubmit)="send()">
        <input type="email" name="email" id="" formControlName="email" />
              <div
                *ngIf="f['email'].touched && f['email'].invalid"
                class="alert alert-danger"
              >
                <div *ngIf="f['email'].errors && f['email'].errors['required']">
                  Email is required.
                </div>
    
                <div *ngIf="f['email'].errors && f['email'].errors['from_email']">
                  Please, enter valid email address.
                </div>
              </div>
              <button type="submit" class="a-1">submit</button>
    </form> -->
    
</div>